# Visual Studio temporary files, build results, and
# user-specific files
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.user

# Rider (JetBrains IDE) specific files
.idea/

# ASP.NET Core configuration
appsettings.*.json
appsettings.json

# User secrets
secrets.json

# Logs and database files
*.log
*.ldb
*.mdf
*.ldf

# Build directories
artifacts/

# NuGet packages
*.nupkg
packages/
# The packages folder can be ignored because of
# package restore
*.snupkg

# Resharper settings
_ReSharper.Caches/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows image file caches
Thumbs.db
ehthumbs.db

# Files built by Visual Studio
*.vsix
*.pidb
*.svclog
*.sln.ide

# Entity Framework Migrations
*.designer.cs

# LibMan-installed libraries
wwwroot/lib/

### DotnetCore template
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

### Sass template
*.css.map
*.sass.map
*.scss.map

### SonarQube template
# SonarQube ignore files.
#
# https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner
# Sonar Scanner working directories
.sonar/
.sonarqube/
.scannerwork/

# http://www.sonarlint.org/commandline/
# SonarLint working directories, configuration files (including credentials)
.sonarlint/

### Git template
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

# .NET Core
project.lock.json
project.fragment.lock.json

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
